a {
  text-decoration: none;
  color: black;
}

div img {
  height: 16rem;
  border-radius: 50%;
  margin: 1.2rem;
}

.container {
  display: grid;
  grid-column: 1fr;
  grid-template-rows: 0.4fr 0.8fr;
}

.first {
  background-color: aqua;
  text-align: center;
}

.second {
  background-color: rgb(0, 210, 210);
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}
